/* @import "./bg.css"; */
body{
    color: red;
}
#transform{
    background-color: hotpink;
    width: 200px;
    height: 50px;
    transform: rotate(45deg);
}
#image-cyt{
    width: 100px;
    height: 100px;
    background-image: url(@/images/cyt.jpg);
}